# Dependências locais
node_modules
npm-debug.log
# Git e afins
.git
.gitignore
# Tests, CI, docs (não necessários em produção)
test
src/test
coverage
*.spec.js
README.md
# IDE/OS lixo
*.swp
.DS_Store
